body{
    background-color: #2196F3;
}
h2{
    margin: 0;
    color: azure;
}
h3{
    margin: 0;
    color: azure;
}
h4{
    margin: 0;
    color: azure;
}
h6{
    color: azure;
}
.item1 { 
grid-area: header;
height: 150px;
}

.userSection { 
grid-area: main;
}
.computerSection { 
grid-area: right;

 }
.userScore { 
grid-area: userScore; 
}
.item6 { 
grid-area: buttons; 
}
.computerScore{
 grid-area: ComputerScore;
}
.results{
    grid-area: results;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    ' main main main right right right'
    'results results results results results results'
    'userScore userScore userScore ComputerScore ComputerScore ComputerScore'
    'buttons buttons buttons buttons buttons buttons';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 900px;
  width: 900px;
  margin: auto;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.userSelection{
    
height: 350px;
width: 350px;
}
.userHeader{
    margin: 0;
    padding-bottom: 10px;
}
.computerSeletion{

    height: 350px;
    width: 350px;
}
.computerHeader{
    margin: 0;
    padding-bottom: 10px;
    
}
.btn{
    border: none;
    background: none;
    color: azure;
    size: 55px;
    font-size: large;
   
}
#battle-results{
    visibility: hidden;
}